In [2]:
#11.1
import zoo 
zoo.hours()

Open from 9-5 daily.

In [3]:
#11.2
import zoo as menagerie
menagerie.hours()

Open from 9-5 daily.

In [1]:
#16.8
import sqlite3
import sqlalchemy
connection = sqlite3.connect('books.db')
curs = connection.cursor()
curs.execute ('''
CREATE TABLE IF NOT EXISTS books 
(title VARCHAR2(20) PRIMARY KEY,
author VARCHAR2(20),
year INT)'''
)

curs.execute('INSERT OR IGNORE INTO books VALUES ("Harry Potter", "JK Rowling", 1999)')
curs.execute('INSERT OR IGNORE INTO books VALUES ("Game Of Thrones", "George Martin", 2000)')
connection.commit()
connection.close()

from sqlalchemy import create_engine


bookage = create_engine('sqlite:///books.db')
with bookage.connect() as connection:
    fetch = connection.execute('SELECT title FROM books ORDER by TITLE')
    for i in fetch:
        print(i)

#I had a lot of problems with this one

('Game Of Thrones',)
('Harry Potter',)